<style>
table 
{
	border: 2; 
	text-align: center;
}
</style>
<script>
	function drawChart() {
	    var data = Table([
	      @lang.each {|key, value| [key,value],}
	      ]);
	    var options = {
	     title: 'Найпопулярніші мови програмування по всім репозиторіям',
	     is3D: true,
	    };
	    var chart = new google.visualization.PieChart(document.getElementById('air'));
	    chart.draw(data, options);
	}
</script>
<div id="air" style="width: 500px; height: 400px;"></div>
<table 	class="table">
	<tr>
		<td><h4>Мова програмування</h4></td>
		<td><h4>Розробник цієї мови</h4></td>
	</tr>

	<tr>
		<td>Java</td>
		<td>Sun Microsystems</td>
	</tr>

	<tr>
		<td>Python</td>
		<td>Python Software Foundation</td>
	</tr>

	<tr>
		<td>C++</td>
		<td>American Telephone and Telegraph</td>
	</tr>

	<tr>
		<td>C</td>
		<td>Bell Telephone Laboratories</td>
	</tr>

	<tr>
		<td>JavaScript</td>
		<td>Netscape</td>
	</tr>

	<tr>
		<td>C#</td>
		<td>Microsoft Research</td>
	</tr>

	<tr>
		<td>HTML</td>
		<td>World Wide Web Consortium</td>
	</tr>

	<tr>
		<td>Ruby</td>
		<td>Matz's Ruby Interpreter</td>
	</tr>

	<tr>
		<td>Go</td>
		<td>Google</td>
	</tr>

	<tr>
		<td>PHP</td>
		<td>The PHP Group</td>
	</tr>
</table>
<table 	class="table">	
<%@org.each do|spt|%>

	<tr>
		<td><h4>ID організації та її репозиторіїв</h4></td>
		<td><h4><center>Ім'я організації та її репозиторіїв</center></h4></td>
		<td><h4><center>Мова програмування репозиторіїв</center></h4></td>
	</tr>
	<tr>
		<td>
			<center><%=spt ['id']%></center>

		</td>
		<td>
			<center><%=spt ['login']%></center>
			<center><%spt['name']%></center>
		</td>
		<td>
			<center><%spt['language']%></center>
		</td>
	</tr>

<%@repos[spt['id']].each do |rb|%>
						
	<tr>
		<td>
			<center><%=rb['id']%></center>
		</td>
				<td>
			<center><%=rb['name']%></center>
		</td>
		<td>
			<center><%=rb['language']%></center>
		</td>
	</tr>
	<%end%>
<%end%>
</table>
